@import "_mixins";

body {
    background-color: $segunda-cor;
    font-family: $fonte-principal;
    font-size: 0;
    text-align: center;
}

header {
    background: rgba($terceira-cor, 0.8);
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 50px;
    
    .logo-app {
        font-size: 16px;
        color: $branco;
        text-transform: uppercase;
        font-style: italic;
        padding: 10px;
        display: block;
        
        .icone-app {
            background: url(../img/logo-app.svg);
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        
        strong {
            font-weight: 800;
        }
    }
    
    .escudo {
        width: 60px;
        height: 60px;
        text-align: center;
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: $primeira-cor;
        border: 2px solid $segunda-cor;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
        margin-top: 5px;
        margin-right: 5px;
        
        &:hover{
            
           
            

            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            -webkit-animation: infinite; /* Chrome, Safari, Opera */
            -webkit-animation-iteration-count: 5; /* Chrome, Safari, Opera */
            animation-name: example;
            animation-duration: 1s;
            animation-iteration-count: 3;
        }
        img {
            height: 36px;
            width: 31px;
        }
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    15%   {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    30% {
        height: 70px;
        width: 70px;
        padding: 15px;
        margin-top: 0px;
        margin-right: 0px;
    }
    45% {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    60%  {
        height: 70px;
        width: 70px;
        padding: 15px;
        margin-top: 0px;
        margin-right: 0px;
    }
    75%  {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    100% {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
}

/* Standard syntax */
@keyframes example {
    0%   {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    15%   {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    30% {
        height: 70px;
        width: 70px;
        padding: 15px;
        margin-top: 0px;
        margin-right: 0px;
    }
    45% {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    60%  {
        height: 70px;
        width: 70px;
        padding: 15px;
        margin-top: 0px;
        margin-right: 0px;
    }
    75%  {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    100% {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
}

section {
    padding-top: 100px;
    text-align: left;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: $fonte-principal;
    font-size: 25px;
    text-transform: uppercase;
    color: $branco;
    font-style: italic;
    margin: 30px 0 10px;
    letter-spacing: -0.05em;
    border-bottom: 2px solid $branco;
    display: block;
    text-align: right;
    padding: 10px 30px;
    position: fixed;
    top: 20px;
    background: $segunda-cor;
    z-index: 3;
}

h2 {
    font-family: $fonte-principal;
    letter-spacing: -0.05em;
}

.mensagem {
    font-size: 14px;
    color: $branco;
    padding: 15px 20px;
    background: rgba($terceira-cor, 0.8);
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    
    big {
        text-transform: uppercase;
        color: $branco;
        font-size: 40px;
        display: block;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 15px;
        z-index: 2;
        position: relative;
        text-shadow: 0px 5px 10px black;
        font-weight: 800;
    }
    
    small {
        z-index: 2;
        position: relative;
        text-shadow: 0px 5px 10px black;
    }
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: auto;
        width: 100%;
        min-height: 100%;
    }
}

@keyframes aparecer-modal {
    from { bottom: -100%; }
    to { bottom: 0; }
}

.modal {
    background: $branco;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 30px;
    z-index: 999;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
    
    &.abrir-modal {
        -webkit-animation: aparecer-modal 1s ease 0s 1 normal;
        -webkit-animation-fill-mode: both;
        animation: aparecer-modal 1s ease 0s 1 normal;
        animation-fill-mode: both;
    }
    
    .fechar {
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/icone-fechar.svg);
    }
    
    input[type=number] {
        border: 2px solid $segunda-cor;
        font-size: 26px;
        padding: 10px;
        width: 100%;
        border-radius: 0;
    }
    
    input[type=submit] {
        background: $terceira-cor;
        color: $branco;
        font-size: 20px;
        padding: 10px;
        width: 100%;
        font-style: italic;
        font-family: $fonte-principal;
        text-transform: uppercase;
        border: none;
        margin-top: 15px;
        border-radius: 0;
    }
}

.beneficios {
    .icone-camisa {
        float: left;
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url(../img/icone-camisa.svg);
        margin-right: 20px;
    }
    
    .icone-estadio {
        float: left;
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url(../img/icone-estadio.svg);
        margin-right: 20px;
    }
    
    .icone-treino {
        float: left;
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url(../img/icone-treino.svg);
        margin-right: 20px;
    }
    
    li {
        text-align: left;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
    
    .valor-doacao {
        font-size: 16px;
        display: block;
        margin-bottom: 2px;
        font-style: italic;
        font-weight: 800;
    }
    
    .beneficio {
        font-size: 18px;
        color: $primeira-cor;
        font-style: italic;
        text-transform: uppercase;
    }
}