.border-radius-padrao {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.border-top-radius-padrao {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.border-right-radius-padrao {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

@keyframes aparecer-campanha {
  from {
    opacity: 0;
    margin-top: 30px; }

  to {
    opacity: 1;
    margin-top: 0px; } }

.perfil {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #000;
  box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: aparecer-campanha 1s ease 1s 1 normal;
  -webkit-animation-fill-mode: both;
  animation: aparecer-campanha 1.5s ease 1s 1 normal;
  animation-fill-mode: both; }
  .perfil:nth-child(odd) {
    margin-left: 0; }
  .perfil h2 {
    color: #fff;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    position: absolute;
    font-weight: 100;
    top: 90px;
    right: 15px;
    text-shadow: 0px 5px 10px black;
    display: inline-block;
    z-index: 1;
    text-align: right;
    width: 60%; }
  .perfil .escolha {
    color: #fc0d08;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    position: absolute;
    font-weight: 800;
    top: 0px;
    left: 0px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    z-index: -1;
    text-align: right;
    width: 100%; }
    .perfil .escolha small {
      font-size: 8px;
      display: block;
      font-weight: 100; }
    .perfil .escolha span {
      display: block; }
    .perfil .escolha .barra-de-progresso {
      height: 10px;
      width: 50%;
      border: 2px solid #fff;
      display: inline-block;
      margin: 2px 0;
      position: relative;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg); }
      .perfil .escolha .barra-de-progresso__porcentagem {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        background-color: white;
        height: 100%; }
  .perfil .doacao {
    color: #fc0d08;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    position: absolute;
    font-weight: 800;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    z-index: 1;
    text-align: right; }
    .perfil .doacao small {
      font-size: 8px;
      display: block;
      font-weight: 100; }
  .perfil .likes {
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 20px;
    width: 90px;
    left: 20px;
    z-index: 2;
    text-align: center; }
    .perfil .likes .icone-curtir {
      background: url(../img/icone_curtir.svg);
      width: 16px;
      height: 16px; }
    .perfil .likes span {
      font-size: 12px;
      color: #fff;
      display: inline-block;
      vertical-align: middle; }
    .perfil .likes strong {
      font-size: 10px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      color: #fc0d08; }
  .perfil img {
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: -25px; }

.ficha {
  width: 95%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  margin: 15px auto; }
  .ficha li {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 1px; }
    .ficha li span {
      display: inline-block;
      width: 48%;
      vertical-align: middle; }
    .ficha li span:first-child {
      color: #fff; }
    .ficha li span:last-child {
      color: #fc0d08;
      font-weight: 800; }

.biografia {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 95%;
  font-size: 16px;
  text-align: center;
  margin: 15px auto;
  color: #fff;
  text-align: left;
  line-height: 1.2em;
  font-weight: 100; }

/*# sourceMappingURL=perfil.css.map */