<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/interface/css/reset.css">
    <link rel="stylesheet" href="~/interface/css/style.css">
    <link rel="stylesheet" href="~/interface/css/campanhas.css">
    <link href='http://fonts.googleapis.com/interface/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='interface/text/css'>
</head>
<body>
    <header>
        <span class="escudo">
            <img src="~/interface/img/logo-flamengo.png" />
        </span>
        <span class="logo-app">O <strong>Dirigente</strong></span>
    </header>
    <section>
        @RenderBody()
    </section>
</body>
</html>
