.ui-dialog .ui-dialog-titlebar-close span,
[class^="icon-"] {
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
    overflow: hidden;
    text-indent: -99999px;
    vertical-align: middle;
    background-image: url("svg/icones-padrao.png");
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: none !important;
}

#menu a span {
    display: block;
    background-image: url("svg/icones-3fa3b8.png");
    margin: 0 auto;
}

[class^="icon-"]:hover {
    background-color: transparent;
    -ms-opacity: 0.9;
    background-image: url("svg/icones-padrao.png");
    opacity: 0.9;
}

h2 [class^="icon-"],
.adicionar-novo span {
    background-image: url("svg/icones-ffffff.png");
}

h2 [class^="icon-"] {
    margin-left: 40px !important;
}

.contratar[class^="icon-"]:hover {
    background-image: url("svg/icones-3fb875.png");
}

.aptidoes[class^="icon-"]:hover {
    background-image: url("svg/icones-faaa18.png");
}

.icon-cabinet,
.icon-quote,
.icon-tag {
    width: 35px !important;
}

.icon-calendar {
    width: 37px !important;
}

.icon-quote2,
.icon-tag2 {
    width: 38px !important;
}

.icon-phone,
.icon-camera {
    width: 40px !important;
}

.icon-calendar2 {
    width: 42px !important;
}




.icon-quote {
    background-position: 0 0;
}

.icon-quote2 {
    background-position: -51px 0;
}

.icon-tag {
    background-position: -105px 0;
}

.icon-tag2 {
    background-position: -156px 0;
}

.icon-link {
    background-position: -210px 0;
}

.icon-cabinet {
    background-position: -258px 0;
}

.icon-cabinet2 {
    background-position: -309px 0;
}

.icon-calendar {
    background-position: -357px 0;
}

.icon-calendar2 {
    background-position: -410px 0;
}

.icon-file {
    background-position: -468px 0;
}

.icon-files {
    background-position: -516px 0;
}

.icon-phone {
    background-position: -564px 0;
}

.icon-camera {
    background-position: -620px 0;
}

.icon-mug {
    background-position: -676px 0;
}

.icon-icecream {
    background-position: -724px 0;
}

.icon-inbox {
    background-position: -772px 0;
}

.icon-download {
    background-position: 0 -48px;
}

.icon-upload {
    background-position: -51px -48px;
}

.icon-inbox2 {
    background-position: -105px -48px;
}

.icon-checkmark {
    background-position: -156px -48px;
}

.icon-checkmark2 {
    background-position: -210px -48px;
}

.ui-dialog .ui-dialog-titlebar-close {
    margin: -20px 9px !important;
    border: none !important;
    background: none transparent !important;
}

    .ui-dialog .ui-dialog-titlebar-close span,
    .icon-cancel {
        background-position: -258px -48px;
    }

.icon-cancel2 {
    background-position: -309px -48px;
}

.icon-plus {
    background-position: -357px -48px;
}

.icon-plus2 {
    background-position: -410px -48px;
}

.icon-minus {
    background-position: -468px -48px;
}

.icon-minus2 {
    background-position: -516px -48px;
}

.icon-notice {
    background-position: -564px -48px;
}

.icon-notice2 {
    background-position: -620px -48px;
}

.icon-cog {
    background-position: -676px -48px;
}

.icon-cogs {
    background-position: -724px -48px;
}

.icon-cog2 {
    background-position: -772px -48px;
}

.icon-picture {
    background-position: 0 -96px;
}

.icon-alarmclock {
    background-position: -51px -96px;
}

.icon-time {
    background-position: -105px -96px;
}

.icon-checkmark3 {
    background-position: -156px -96px;
}

.icon-cancel3 {
    background-position: -210px -96px;
}

.icon-eye {
    background-position: -258px -96px;
}

.icon-sitemap {
    background-position: -309px -96px;
}

.icon-cloud {
    background-position: -357px -96px;
}

.icon-upload2 {
    background-position: -410px -96px;
}

.icon-chart {
    background-position: -468px -96px;
}

.icon-chart2 {
    background-position: -516px -96px;
}

.icon-chart3 {
    background-position: -564px -96px;
}

.icon-chart4 {
    background-position: -620px -96px;
}

.icon-chart5 {
    background-position: -676px -96px;
}

.icon-chart6 {
    background-position: -724px -96px;
}

.icon-location {
    background-position: -772px -96px;
}

.icon-download2 {
    background-position: 0 -144px;
}

.icon-basket {
    background-position: -51px -144px;
}

.icon-folder {
    background-position: -105px -144px;
}

.icon-alarm {
    background-position: -156px -144px;
}

.icon-alarm-cancel {
    background-position: -210px -144px;
}

.icon-image {
    background-position: -258px -144px;
}

.icon-direction {
    background-position: -309px -144px;
}

.icon-trashcan {
    background-position: -357px -144px;
}

.icon-graduate {
    background-position: -410px -144px;
}

.icon-lab {
    background-position: -468px -144px;
}

.icon-tie {
    background-position: -516px -144px;
}

.icon-smiley {
    background-position: -564px -144px;
}

.icon-sad {
    background-position: -620px -144px;
}

.icon-mute {
    background-position: -676px -144px;
}

.icon-medal {
    background-position: -724px -144px;
}

.icon-medal2 {
    background-position: -772px -144px;
}

.icon-locked {
    background-position: 0 -192px;
}

.icon-unlocked {
    background-position: -51px -192px;
}

.icon-stack {
    background-position: -105px -192px;
}

.icon-stack2 {
    background-position: -156px -192px;
}

.icon-lamp {
    background-position: -210px -192px;
}

.icon-umbrella {
    background-position: -258px -192px;
}

.icon-streetlight {
    background-position: -309px -192px;
}

.icon-bomb {
    background-position: -357px -192px;
}

.icon-archive {
    background-position: -410px -192px;
}

.icon-lamp2 {
    background-position: -468px -192px;
}

.icon-cube {
    background-position: -516px -192px;
}

.icon-box {
    background-position: -564px -192px;
}

.icon-box2 {
    background-position: -620px -192px;
}

.icon-diamond {
    background-position: -676px -192px;
}

.icon-bag {
    background-position: -724px -192px;
}

.icon-moneybag {
    background-position: -772px -192px;
}

.icon-grid {
    background-position: 0 -240px;
}

.icon-grid2 {
    background-position: -51px -240px;
}

.icon-list {
    background-position: -105px -240px;
}

.icon-list2 {
    background-position: -156px -240px;
}

.icon-tools {
    background-position: -210px -240px;
}

.icon-brush {
    background-position: -258px -240px;
}

.icon-pen {
    background-position: -309px -240px;
}

.icon-chat {
    background-position: -357px -240px;
}

.icon-comments {
    background-position: -410px -240px;
}

.icon-chat2 {
    background-position: -468px -240px;
}

.icon-chat3 {
    background-position: -516px -240px;
}

.icon-volume {
    background-position: -564px -240px;
}

.icon-volume2 {
    background-position: -620px -240px;
}

.icon-volume3 {
    background-position: -676px -240px;
}

.icon-resize {
    background-position: -724px -240px;
}

.icon-resize2 {
    background-position: -772px -240px;
}

.icon-download3 {
    background-position: 0 -288px;
}

.icon-library {
    background-position: -51px -288px;
}

.icon-stats {
    background-position: -105px -288px;
}

.icon-stats2 {
    background-position: -156px -288px;
}

.icon-attachment {
    background-position: -210px -288px;
}

.icon-pencil {
    background-position: -258px -288px;
}

.icon-pen2 {
    background-position: -309px -288px;
}

.icon-pin {
    background-position: -357px -288px;
}

.icon-pin2 {
    background-position: -410px -288px;
}

.icon-discout {
    background-position: -468px -288px;
}

.icon-edit {
    background-position: -516px -288px;
}

.icon-scissors {
    background-position: -564px -288px;
}

.icon-profile {
    background-position: -620px -288px;
}

.icon-reply {
    background-position: -676px -288px;
}

.icon-forward {
    background-position: -724px -288px;
}

.icon-crop {
    background-position: -772px -288px;
}

.icon-dollar {
    background-position: 0 -336px;
}

.icon-dollar2 {
    background-position: -51px -336px;
}

.icon-coins {
    background-position: -105px -336px;
}

.icon-pig {
    background-position: -156px -336px;
}

.icon-bookmark {
    background-position: -210px -336px;
}

.icon-bookmark2 {
    background-position: -258px -336px;
}

.icon-addressbook {
    background-position: -309px -336px;
}

.icon-addressbook2 {
    background-position: -357px -336px;
}

.icon-safe {
    background-position: -410px -336px;
}

.icon-envelope {
    background-position: -468px -336px;
}

.icon-heart {
    background-position: -516px -336px;
}

.icon-info {
    background-position: -564px -336px;
}

.icon-info2 {
    background-position: -620px -336px;
}

.icon-rain {
    background-position: -676px -336px;
}

.icon-snow {
    background-position: -724px -336px;
}

.icon-lightning {
    background-position: -772px -336px;
}

.icon-sun {
    background-position: 0 -384px;
}

.icon-cloudy {
    background-position: -51px -384px;
}

.icon-cloudy2 {
    background-position: -105px -384px;
}

.icon-bike {
    background-position: -156px -384px;
}

.icon-plane {
    background-position: -210px -384px;
}

.icon-barcode {
    background-position: -258px -384px;
}

.icon-barcode2 {
    background-position: -309px -384px;
}

.icon-expand {
    background-position: -357px -384px;
}

.icon-collapse {
    background-position: -410px -384px;
}

.icon-popout {
    background-position: -468px -384px;
}

.icon-popin {
    background-position: -516px -384px;
}

.icon-ticket {
    background-position: -564px -384px;
}

.icon-ticket2 {
    background-position: -620px -384px;
}

.icon-cone {
    background-position: -676px -384px;
}

.icon-blocked {
    background-position: -724px -384px;
}

.icon-stop {
    background-position: -772px -384px;
}

.icon-printer {
    background-position: 0 -432px;
}

.icon-checked {
    background-position: -51px -432px;
}

.icon-pictures {
    background-position: -105px -432px;
}

.icon-shipping {
    background-position: -156px -432px;
}

.icon-tags {
    background-position: -210px -432px;
}

.icon-heart2 {
    background-position: -258px -432px;
}

.icon-heart3 {
    background-position: -309px -432px;
}

.icon-clipboard {
    background-position: -357px -432px;
}

.processo-seletivo a span,
.icon-clipboard2 {
    background-position: -410px -432px;
}

.icon-clipboard3 {
    background-position: -468px -432px;
}

.icon-switch {
    background-position: -516px -432px;
}

.icon-ruler {
    background-position: -564px -432px;
}

.icon-angle-left {
    background-position: -620px -432px;
}

.icon-angle-right {
    background-position: -676px -432px;
}

.icon-angle-up {
    background-position: -724px -432px;
}

.icon-angle-down {
    background-position: -772px -432px;
}

.icon-link-voltar,
.icon-chevron-circle-left {
    background-position: 0 -480px;
}

.icon-chevron-circle-right {
    background-position: -51px -480px;
}

.icon-chevron-circle-up {
    background-position: -105px -480px;
}

.icon-chevron-circle-down {
    background-position: -156px -480px;
}

.icon-google {
    background-position: -210px -480px;
}

.icon-googleplus {
    background-position: -258px -480px;
}

.icon-googleplus2 {
    background-position: -309px -480px;
}

.icon-googleplus3 {
    background-position: -357px -480px;
}

.icon-googleplus4 {
    background-position: -410px -480px;
}

.icon-facebook {
    background-position: -468px -480px;
}

.icon-facebook2 {
    background-position: -516px -480px;
}

.icon-facebook3 {
    background-position: -564px -480px;
}

.icon-twitter {
    background-position: -620px -480px;
}

.icon-twitter2 {
    background-position: -676px -480px;
}

.icon-twitter3 {
    background-position: -724px -480px;
}

.icon-tumblr {
    background-position: -772px -480px;
}

.icon-tumblr2 {
    background-position: 0 -528px;
}




.icon-search-menor,
.icon-search-plus-menor,
.icon-search-minus-menor {
    width: 30px;
}

.icon-filter-menor {
    width: 25px;
}

.icon-search-menor {
    background-position: 0 0;
}

.icon-search-plus-menor {
    background-position: -46px 0;
}

.icon-search-minus-menor {
    background-position: -92px 0;
}

.icon-power-off-menor {
    background-position: -138px 0;
}

.icon-filter-menor {
    background-position: -186px 0;
}

.icon-home-menor {
    background-position: -227px 0;
}

.icon-user-menor {
    background-position: -275px 0;
}

.icon-users-menor {
    background-position: -323px 0;
}

.icon-user2-menor {
    background-position: -371px 0;
}

.icon-user3-menor {
    background-position: -419px 0;
}

.icon-thumbs-up-menor {
    background-position: -467px 0;
}

.icon-thumbs-up2-menor {
    background-position: -515px 0;
}

.icon-search-menor,
.icon-search-menor:hover,
.icon-search-plus-menor,
.icon-search-plus-menor:hover,
.icon-search-minus-menor,
.icon-search-minus-menor:hover,
.icon-power-off-menor,
.icon-power-off-menor:hover,
.icon-filter-menor,
.icon-filter-menor:hover,
.icon-home-menor,
.icon-home-menor:hover,
.icon-user-menor,
.icon-user-menor:hover,
.icon-users-menor,
.icon-users-menor:hover,
.icon-user2-menor,
.icon-user2-menor:hover,
.icon-user3-menor,
.icon-user3-menor:hover,
.icon-thumbs-up-menor,
.icon-thumbs-up-menor:hover,
.icon-thumbs-up2-menor,
.icon-thumbs-up2-menor:hover {
    background-image: url("svg/sprites-menor.png");
}

button.botao-encerrar span[class ^="icon-"],
.icon-link-voltar,
.icon-link-voltar:hover {
    background-image: url("svg/icones-ffffff.png");
}
.icon-link-voltar:hover {
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.icon-link-voltar {
    position: absolute;
    top: -70px;
    left: 10px;
}