@model IEnumerable<RecrutaZero.Dominio.Candidato>

@{
    Layout = null;
}

<div class="resultados" title="Clique para visualizar os detalhes do processo seletivo.">
    @foreach (var candidato in Model)
    {
        <div class="info-candidato">
            <h3>@candidato.Nome</h3>
            <span>@candidato.Ocupacao.Descricao</span>
            <span>|</span>
            <span>@candidato.Telefone</span>
        </div>
    }
</div>