@{
    ViewBag.Title = "D Talento - Você é assim!   -   DígithoBrasil Soluções em Software";
}
<section>
    <h2></h2>
</section>
<aside>
    <h3>Nossas vagas:</h3>
    <ol>
        <li>Desenvolvedor Delphi</li>
        <li>Desenvolvedor Java</li>
        <li>Desenvolvedor .Net</li>
        <li>Analista de Suporte</li>
    </ol>
</aside>

