@import "_mixins";

body {
    background-color: $segunda-cor;
    font-family: $fonte-principal;
    font-size: 0;
    text-align: center;
}

header {
    padding: 20px;
    background: $terceira-cor;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 9;
    
    .time {
        font-size: 16px;
        color: $primeira-cor;
        text-transform: uppercase;
    }
    
    .escudo {
        width: 60px;
        height: 60px;
        text-align: center;
        display: block;
        position: fixed;
        top: 25px;
        left: 50%;
        margin-left: -30px;
        background: $primeira-cor;
        border: 2px solid $segunda-cor;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
        
        img {
            height: 100%;
            width: auto;
        }
    }
}

section {
    padding-top: 70px;
    text-align: left;
}

.imagem-de-fundo {
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    position: fixed;
    opacity: 0.5;
    
    img {
        width: 100%;
        height: 100%;
        transform: scale(1.2);
        -ms-transform: scale(1.2);
   	    -webkit-transform: scale(1.2);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: $fonte-principal;
    font-size: 25px;
    text-transform: uppercase;
    color: $terceira-cor;
    font-style: italic;
    margin: 30px 0 10px;
    letter-spacing: -0.05em;
    background: $branco;
    display: inline-block;
    text-align: right;
    padding: 10px 30px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}

h2 {
    font-family: $fonte-principal;
    letter-spacing: -0.05em;
}