@import "_mixins";

@keyframes aparecer-campanha {
    from { opacity: 0; margin-top: 30px; }
    to { opacity: 1; margin-top: 0px; }
}

.campanhas {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
    overflow: hidden;
    display: block;
    border-bottom: 2px solid $terceira-cor;
    box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.5);
    -webkit-animation: aparecer-campanha 1s ease 1s 1 normal;
    -webkit-animation-fill-mode: both;
    animation: aparecer-campanha 1.5s ease 1s 1 normal;
    animation-fill-mode: both;
    
    h2 {
        color: $branco;
        font-size: 16px;
        font-style: italic;
        text-transform: uppercase;
        position: absolute;
        font-weight: 800;
        bottom: 55px;
        width: 120px;
        text-shadow: 0px 5px 10px black;
        box-shadow: 0px 5px 10px 0px rgba(black, 0.5);
        display: inline-block;
        background: $segunda-cor;
        padding: 5px 5px;
        border: 1px solid $branco;
        z-index: 1;
        text-align: center;
    }
    
    .escolha {
        color: $primeira-cor;
        font-size: 12px;
        font-style: italic;
        text-transform: uppercase;
        position: absolute;
        font-weight: 800;
        bottom: 25px;
        box-shadow: 0px 5px 10px 0px rgba(black, 0.5);
        display: inline-block;
        background: $branco;
        padding: 5px 10px;
        border: 1px solid $branco;
        z-index: 1;
        text-align: center;
    }
    
    img {
        width: 50%;
        height: auto;
    }
    
    &:nth-child(odd) {
        text-align: right;
        
        h2 {
            left: 45px;
        }
        
        .escolha {
            left: 25px;
        }
    }
    
    &:nth-child(even) {
        text-align: left;
        
        h2 {
            right: 45px;
        }
        
        .escolha {
            right: 25px;
        }
    }
}