@model ODirigente.ViewModels.JogadorPerfilVm
@{
    var jogador = @Model.Jogador;
}
<link rel="stylesheet" href="~/Interface/css/perfil.css">
 
    <div href="jogadores.html" class="perfil">
        <img src="~/Interface/img/"@string.Format("{0}.png", jogador.Id)/>
        <h2>@jogador.Apelido</h2>
        <span class="escolha">
            <small>Valor arrecadado</small>
            <span>R$ 800.000,00</span>
            <span class="barra-de-progresso">
                <span class="barra-de-progresso__porcentagem"></span>
            </span>
            <small>Precisamos de @jogador.ValorDoPasse</small>
        </span>
        <div class="likes">
            <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong>1.5k</strong>
            </span>
        </div>
        <span class="doacao">
            Fazer doação
        </span>
    </div>
<script>
    function ProgressBar() {
        $(".barra-de-progresso__porcentagem").function()
        {
            
        };
    }
</script>