<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=100px, initial-scale=1.0, maximum-scale=1.0'/>
	<title>Cardappio | Restaurante</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/perfil.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <span class="escudo">
            <img src="img/logo-flamengo.png"/>
        </span>
        <span class="logo-app">
            <span class="icone-app"></span>
        O <strong>Dirigente</strong></span>
    </header>
    
    <section>
        
        <div href="jogadores.html" class="perfil">
            <img src="img/pato.png"/>
            <h2>Alexandre Pato</h2>
            <span class="escolha">
               <small>Valor arrecadado</small>
                <span>R$ 800.000,00</span>
                <span class="barra-de-progresso">
                    <span class="barra-de-progresso__porcentagem"></span>
                </span>
                <small>Precisamos de R$ 14.800.000,00</small>
            </span>
            <div class="likes">
                <span class="likes__curtir">
                    <span class="icone-curtir"></span>
                    <span>Curtir</span>
                    <strong>1.5k</strong>
                </span>
            </div>
            <span class="doacao">
                Fazer doação
            </span>
        </div>
	</section>
	
</body>
</html>