@using RecrutaZero.WebApp._Base.Extensions
@model RecrutaZero.WebApp.ViewModels.ConsultaDeProcessoSeletivoVm

@{
    ViewBag.Title = "Processos seletivos";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Criar novo processo seletivo", "Incluir", "ProcessoSeletivo", new { @class = "adicionar-novo", @title = "Adicionar processo seletivo" })

@using (Ajax.BeginForm("Consultar", "ProcessoSeletivo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultadosDaPesquisa" }, new { @class = "filtro-pesquisa" }))
{
    <p>
        <label>Ocupação</label>
        @Html.DropDownListFor(x => x.OcupacaoId, Model.Ocupacoes.ToSelectList(x => x.Descricao, x => x.Id, itemDefault: ItemDefault.ComTextoEValor("", "0")))
    </p>
}

<div id="resultadosDaPesquisa"></div>

<script src="~/Scripts/views/processoSeletivo/consultarProcessos.js"></script>

<script type="text/javascript">
    window.consultarProcessos.init();
</script>